.tankMainDiv{
    width: 1200px;
    /* margin: 5px; */
    height: auto;

    /* padding: 5px; */
    z-index: 0;
}
td{
    background-color: none;
    opacity: 80%;
}
.hovereffect:hover{
    background-color: rgb(0, 106, 255);
}
.bc1{
    height: 25px;
    padding-top: 0px;
}
.tdbc1{
    width: 250px;
    padding: 0px;
}
.editableCell
{
    background-color: rgb(0, 106, 255);
}

.editable-space{
    background-color: rgb(0, 106, 255);
}
.editableDiv{
    background-color: rgb(0, 106, 255);
}

.inputDivPrice{
    border: 6px solid blue;
    margin-top: 10px;
    height: 50px;
}
.inputDivPrice:focus{
    border: 2px solid green;
    margin-top: 10px;
    height: 50px;
}
.active{
    border: 5px solid green;
    margin-top: 10px;
    height: 50px;
}

.savepop{
    width: 500px;
    height: 250px;
    border: green 7px solid;
    background-color: white;
    margin-left: -5000px;
    z-index: 1;
}