.sideMainDiv{
    margin: 0;
    padding: 0;
    /* margin-top: -48px; */
    /* margin-right: 3px; */
    width:290px;
    /* position: fixed; */
    height:100vh;
    background-color:#3A1078;
    
    
}
.imgClass{
    width:130px;
    border-radius:120px;
    margin-top:5px;
    margin-left:75px
}
.sideInfo{
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
}
.sideDrop1{
    background-color:#3A1078;
    color: white;
    width: 270px;  
    margin-left: 10px;  
    margin-top: 10px;
}
.sideDrop1List{
    width: 270px;  
    color: white;
    
}
.sideDrop1:hover{
    background-color: rgb(65, 65, 65);
    color: white;
}