.sideMainDiv{
    width:290px;
    height:1500px;
    background-color:RGB(35 35 35);
    
}
.imgClass{
    width:130px;
    border-radius:120px;
    margin-top:50px;
    margin-left:75px
}
.sideInfo{
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
}
.sideDrop1{
    background-color: RGB(35 35 35);
    color: white;
    width: 270px;  
    margin-left: 10px;  
    margin-top: 10px;
}
.sideDrop1List{
    width: 270px;  
    color: white;
    
}
.sideDrop1:hover{
    background-color: rgb(65, 65, 65);
    color: white;
}