.logindiv{
    width: 400px;
    position: absolute;
    left: 590px;
    top:170px;
    z-index: 1;
}
.loginbg{
    background-image: url('img.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(1px);
    -webkit-filter: blur(5px);
    background-size: cover;
    z-index: -1;
    height: 710px;
    width: 1515px;
}